body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

#elevationConntainer {
    width: 100%;
    height: 100%;
}

.leaflet-menu-close-buttin {
    position: absolute;
    top: 0;
    right: 0;
}
